/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

p:first-of-type {
    color: #7E8184;
    font-style: italic;
}

p:first-of-type em {
    font-style: normal;
}

p:last-of-type {
    margin-bottom: 50px;
}

.button:link,
.button:visited {
    display: block;
    text-decoration: none;

    color: #FFF;
    background-color: #5995da;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    border: 2px solid #5d6063;

    width: 200px;
    margin: 20px auto;
    padding: 20px;
}

.button:hover,
.button:visited:hover {
    color: #fff;
    background-color: #76aeed;
}

.button:active,
.button:visited:active {
    color: #fff;
    background-color: #5995da;
}

.call-to-action:link,
.call-to-action:visited {
    background-color: rgb(221, 191, 55);
    font-style: italic;
}

.call-to-action:hover,
.call-to-action:visited:hover {
    background-color: #f5cf8e;
}

.call-to-action:active,
.call-to-action:visited:active {
    background-color:rgba(221, 191, 55);
}

.page {
    width: 600px;
    margin: 0 auto;
}

a:link {
    color: blue;
    text-decoration: none;
}

a:visited {
    color: purple;
}

a:hover {
    color: aqua;
    text-decoration: underline;
}

a:visited:hover {
    color: orange;
}

a:active {
    color: red;
}

a:visited:active {
    color: red;
}

